<!-- Solo muestra barra si NO estamos en /login -->
<div *ngIf="router.url !== '/login'">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-warning" routerLink="/principal">Inicio</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Menú Catálogo
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCatalogo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catálogo
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCatalogo">
              <li><a class="dropdown-item" routerLink="/listempresa">Empresa</a></li>
              <li><a class="dropdown-item" routerLink="/listsucursal">Sucursales</a></li>
              <li><a class="dropdown-item" routerLink="/listgenero">Géneros</a></li>
              <li><a class="dropdown-item" routerLink="/liststatususuario">Status</a></li>
            </ul>
          </li> -->

          <!-- Menú Seguridad
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSeguridad" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Seguridad
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownSeguridad">
              <li><a class="dropdown-item" routerLink="/listusuarios">Usuarios</a></li>
              <li><a class="dropdown-item" routerLink="/listrole">Roles</a></li>
              <li><a class="dropdown-item" routerLink="/listmodulo">Módulos</a></li>
              <li><a class="dropdown-item" routerLink="/listmenu">Menús</a></li>
              <li><a class="dropdown-item" routerLink="/listopcion">Opciones</a></li>
              <li><a class="dropdown-item" routerLink="/listrolopcion">Rol_Opc</a></li>
            </ul>
          </li> -->

          <!-- Menú Cuenta Corriente -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCXC" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Seguridad
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCXC">

              <!-- Submenú Parámetros Generales -->
              <li class="dropdown-submenu">
                <!--<a class="dropdown-item dropdown-toggle" href="#">Parámetros Generales</a>-->
                <a class="dropdown-item dropdown-toggle" >Parámetros Generales</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/listempresa">Empresa</a></li>
                  <li><a class="dropdown-item" routerLink="/listsucursal">Sucursales</a></li>
                  <li><a class="dropdown-item" routerLink="/listgenero">Géneros</a></li>
                  <li><a class="dropdown-item" routerLink="/liststatususuario">Estatus Usuario</a></li>
                  <li><a class="dropdown-item" routerLink="/listrole">Roles</a></li>
                  <li><a class="dropdown-item" routerLink="/listmodulo">Módulos</a></li>
                  <li><a class="dropdown-item" routerLink="/listmenu">Menús</a></li>
                  <li><a class="dropdown-item" routerLink="/listopcion">Opciones</a></li>
                </ul>
              </li>

              <!-- Submenú Gestión Cuenta Corriente -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" >Acciones</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/listusuarios">Usuarios</a></li>
                  <li><a class="dropdown-item" routerLink="/listrolopcion">Asignar Opciones a un Role</a></li>
                </ul>
              </li>
            </ul>
          </li>



          <!-- Menú Cuenta Corriente -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCXC" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuenta Corriente por Cobrar
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownCXC">

              <!-- Submenú Parámetros Generales -->
              <li class="dropdown-submenu">
                <!--<a class="dropdown-item dropdown-toggle" href="#">Parámetros Generales</a>-->
                <a class="dropdown-item dropdown-toggle">Parámetros Generales</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/liststatuscuenta">Status de Cuentas</a></li>
                  <li><a class="dropdown-item" routerLink="/listestadocivil">Estado Civil de Personas</a></li>
                  <li><a class="dropdown-item" routerLink="/listtipodocumento">Tipo de Documentos</a></li>
                  <li><a class="dropdown-item" routerLink="/listtipomovimientocxc">Tipo de Movimientos CxC</a></li>
                </ul>
              </li>

              <!-- Submenú Gestión Cuenta Corriente -->
              <li class="dropdown-submenu">
                <!--<a class="dropdown-item dropdown-toggle" href="#">Gestión Cuenta Corriente</a>-->
                <a class="dropdown-item dropdown-toggle">Gestión Cuenta Corriente</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/listtiposaldocuenta">Tipos de Cuentas</a></li>
                  <li><a class="dropdown-item" routerLink="/listpersona">Persona</a></li>
                  <li><a class="dropdown-item" routerLink="/listsaldocuenta">Gestión de Cuentas</a></li>
                  <li><a class="dropdown-item" routerLink="/listpersona">Consulta de Saldos</a></li>
                </ul>
              </li>

              <!-- Submenú Reporte -->
              <li class="dropdown-submenu">
                <!--<a class="dropdown-item dropdown-toggle" href="#">Reporte</a>-->
                <a class="dropdown-item dropdown-toggle">Reporte</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/listsaldocuentahist">Estado de Cuentas</a></li>
                </ul>
              </li>

              <!-- Submenú Procesos -->
              <li class="dropdown-submenu">
                <!--<a class="dropdown-item dropdown-toggle" href="#">Procesos</a>-->
                <a class="dropdown-item dropdown-toggle">Procesos</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="/listtipomovimientocxc">Grabación de Movimientos</a></li>
                  <li><a class="dropdown-item" routerLink="/listperiodocierremes">Cierre de Mes</a></li>
                </ul>
              </li>

            </ul>
          </li>
        </ul>
      </div>

      <!-- Botones a la derecha -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-info fw-bold" routerLink="/perfil">
            <i class="bi bi-person-circle"></i> Perfil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger fw-bold" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> Salir
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>

<!-- Aquí se renderizan las rutas -->
<router-outlet></router-outlet>
