<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
       <h2>Agregar Opcion</h2>
    </div>
    <div class="card-body">
      <form id="addcursosforms" class="needs-validation" novalidate>

        <div class="mb-3">
          <label for="menu" class="form-label">Menu:</label>
          <select
            id="menu"
            class="form-select"
            required
            [(ngModel)]="selectedMenu"
            name="menu"
          >
            <option value="" disabled selected>Seleccione un menu</option>
            <option *ngFor="let me of menu" [value]="me.idMenu">
              {{ me.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="name">Nombre:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="opcion.nombre" type="text" name="curso" id="name" class="form-control" placeholder="Ingrese el Nombre de opcion" required>
          </div>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="name">Orden Menu:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="opcion.ordenMenu" type="text" name="curso" id="name" class="form-control" placeholder="Ingrese numero de Orden" required>
          </div>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="name">Pagina:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="opcion.pagina" type="text" name="curso" id="name" class="form-control" placeholder="Ingrese la pagina" required>
          </div>
        </div>


        <button (click)="guardar(opcion)" type="button" class="btn btn-outline-success">Guardar</button>
        <span style="margin-left:1em"></span>
        <button (click)="Cancelar()" type="button" class="btn btn-outline-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>
