<div class="container mt-4">
  <!-- Encabezado con botón de agregar -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-primary m-0">Listado de Estados Civiles</h2>

    <a *ngIf="puedeAlta" routerLink="/addestadocivil" class="btn btn-success">
      <i class="bi bi-plus-circle"></i> Agregar Estato Civil
    </a>
  </div>

  <!-- Card con la tabla -->
  <div class="card shadow-lg border-0 rounded-3">
    <div class="card-body">
      <table class="table table-hover table-striped align-middle text-center">
        <thead class="table-dark">
          <tr>
            <th>ID Estatus</th>
            <th>Nombre</th>
            <th>F_Creación</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sC of estadoCivil">
            <td>{{sC.idEstadoCivil}}</td>
            <td>{{sC.nombre}}</td>
            <td>{{sC.fechaCreacion}}</td>
            <td>
              <button *ngIf="puedeCambio" (click)="select(sC)" class="btn btn-warning btn-sm me-2">
                <i class="bi bi-pencil-square"></i> Editar
              </button>
              <button *ngIf="puedeBaja" (click)="delete(sC)" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
