<div class="container">
  <div class="card-header">
    <h2 class="text-primary">Listado de Usuarios</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr class="text-center">
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Estatus</th>
          <th>Genero</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Sucursal</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of usuarios" class="text-center align-middle">
          <td>
            <img *ngIf="us.fotografia"
                 [src]="'data:image/jpeg;base64,' + us.fotografia"
                 alt="Foto"
                 width="100"
                 height="120"
                 class="rounded-circle border shadow-sm">
          </td>
          <td>{{us.nombre}}</td>
          <td>{{us.apellido}}</td>
          <td>{{us.idStatusUsuario.nombre}}</td>
          <td>{{us.idGenero.nombre}}</td>
          <td>{{us.correoElectronico}}</td>
          <td>{{us.telefonoMovil}}</td>
          <td>{{us.idSucursal.nombre}}</td>
          <td class="text-center">
            <button (click)="selectUser(us)" class="btn btn-warning btn-sm">Editar</button>
            <button (click)="deleteUsuario(us)" class="btn btn-danger btn-sm">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
