<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Modificar Sucursal</h2>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="mb-2">
            <label for="">ID del Empresa:</label>
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="sucursal.idSucursal"
              type="text"
              name="idSucursal"
              disabled
              id="idSucursal"
              class="form-control"
              placeholder="ID"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="">Nombre del la Empresa:</label>
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="sucursal.nombre"
              type="text"
              name="nombre"
              id="nombre"
              #myFocus
              class="form-control"
              placeholder="Ingrese nombre del la empresa"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="">Direccion:</label>
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="sucursal.direccion"
              type="text"
              name="direccion"
              id="direccion"
              #myFocus
              class="form-control"
              placeholder="Ingrese la Direccion"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="empresa" class="form-label">Empresa:</label>
          <select
            id="empresa"
            class="form-select"
            required
            [(ngModel)]="selectedEmpresa"
            name="empresa"
          >
            <option value="" disabled selected>Seleccione una empresa</option>
            <option *ngFor="let emp of empresa" [value]="emp.idEmpresa">
              {{ emp.nombre }}
            </option>
          </select>
        </div>

        <button
          (click)="editEmpresa(sucursal)"
          class="btn btn-outline-success"
          type="button"
        >
          Guardar
        </button>
        <span style="margin-left: 1em"></span>
        <button (click)="Cancel()" class="btn btn-outline-danger" type="button">
          Cancelar
        </button>
      </form>
    </div>
  </div>
</div>
