<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-primary">Gestion de Cuentas</h2>

    <!--<a *ngIf="puedeAlta" routerLink="/addpersona" class="btn btn-success">-->
    <a routerLink="/addsaldocuenta" class="btn btn-success">
      <i class="bi bi-plus-circle"></i> Agregar Cuenta
    </a>
  </div>
</div>

<div class="card shadow-lg border-0 rounded-3 mb-4">
  <div class="card-body">
    <table class="table table-hover table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Persona</th>
          <th>Status</th>
          <th>Tipo Cuenta</th>
          <th>Saldo Anterior</th>
          <th>Débitos</th>
          <th>Créditos</th>
          <th>Saldo Actual</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cuentas">
          <td>{{ c.persona.nombre }}</td>
          <td>{{ c.statusCuenta.nombre }}</td>
          <td>{{ c.tipoSaldoCuenta.nombre }}</td>
          <td>{{ c.saldoAnterior | currency }}</td>
          <td>{{ c.debitos | currency }}</td>
          <td>{{ c.creditos | currency }}</td>
          <td class="fw-bold">{{ getSaldoActual(c) | currency }}</td>
          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="select(c)">
              Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="eliminarCuenta(c)">
              Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
