<div class="container col-md-6 mt-4" *ngIf="rolOpc">
  <div class="card shadow-lg border-0 rounded-3">
    <div class="card-header bg-primary text-white text-center rounded-top">
      <h3 class="mb-0">Editar Permisos de Rol</h3>
    </div>

    <div class="card-body">
      <form #editForm="ngForm">
        <!-- Rol -->
        <div class="mb-3">
          <label class="form-label fw-bold">Rol</label>
          <input #myFocus type="text" class="form-control" [value]="rolOpc.role.nombre" disabled>
          <!--"rolOpc.role?.nombre"-->
        </div>

        <!-- Opción -->
        <div class="mb-3">
          <label class="form-label fw-bold">Opción</label>
          <input #myFocus type="text" class="form-control" [value]="rolOpc.opcion.nombre" disabled>
          <!--"rolOpc.opcion?.nombre"-->
        </div>

        <!-- Permisos -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="form-check form-switch">
              <input #myFocus class="form-check-input" type="checkbox" [(ngModel)]="rolOpc.alta" name="alta">
              <label class="form-check-label">Alta</label>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-check form-switch">
              <input #myFocus class="form-check-input" type="checkbox" [(ngModel)]="rolOpc.baja" name="baja">
              <label class="form-check-label">Baja</label>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-check form-switch">
              <input #myFocus class="form-check-input" type="checkbox" [(ngModel)]="rolOpc.cambio" name="cambio">
              <label class="form-check-label">Cambio</label>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-check form-switch">
              <input #myFocus class="form-check-input" type="checkbox" [(ngModel)]="rolOpc.imprimir" name="imprimir">
              <label class="form-check-label">Imprimir</label>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="form-check form-switch">
              <input #myFocus class="form-check-input" type="checkbox" [(ngModel)]="rolOpc.exportar" name="exportar">
              <label class="form-check-label">Exportar</label>
            </div>
          </div>
        </div>

        <!-- Botones -->
        <div class="d-flex justify-content-end">
          <button (click)="updateRoleOpcion()" class="btn btn-success me-2" type="button">
            <i class="bi bi-save"></i> Guardar
          </button>
          <button (click)="cancelar()" class="btn btn-danger" type="button">
            <i class="bi bi-x-circle"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
