<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Modificar Menu</h2>
    </div>
    <div class="card-body">
      <form>

        <div class="form-group">
          <div class="mb-2">
            <label for="">ID de Menu:</label>
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="menu.idMenu"
              type="text"
              name="idMenu"
              disabled
              id="idMenu"
              class="form-control"
              placeholder="ID"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="idModulo" class="form-label">Modulo: *</label>
          <select
            id="idModulo"
            class="form-select"
            required
            [(ngModel)]="selectedModulo"
            name="empresa"
          >
            <option value="" disabled selected>Seleccione una empresa</option>
            <option *ngFor="let m of modulo" [value]="m.idModulo">
              {{ m.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="">Nombre de Muenu:</label>
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="menu.nombre"
              type="text"
              name="nombre"
              id="nombre"
              #myFocus
              class="form-control"
              placeholder="Ingrese nombre del la empresa"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <div class="mb-2">
            <label for="">Orden Menu:</label>
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="menu.ordenMenu"
              type="text"
              name="ordenMenu"
              id="ordenMenu"
              #myFocus
              class="form-control"
              placeholder="Ingrese nombre del la empresa"
              required
            />
          </div>
        </div>

        <button
          (click)="editMenu(menu)"
          class="btn btn-outline-success"
          type="button"
        >
          Guardar
        </button>
        <span style="margin-left: 1em"></span>
        <button (click)="Cancel()" class="btn btn-outline-danger" type="button">
          Cancelar
        </button>

      </form>
    </div>
  </div>
</div>
