<div class="container col-md-6 mt-4">
  <div class="card shadow-lg border-0 rounded-3">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
       <h4 class="m-0">
        <i class="bi bi-gender-ambiguous"></i>Agregar Estatus de Usuario</h4>
    </div>

    <div class="card-body">
      <form (ngSubmit)="guardarStatus(status)"
      #formStatus = "ngForm"
      class="needs-validation"
      novalidate
      >
        <div class="mb-3">
            <label for="nombre" class="from-label fw-bold">Nombre:</label>
            <input
            [(ngModel)] = "status.nombre"
            name="nombre"
            id="nombre"
            type="text"
            class="form-control"
            placeholder="Ingrese el nombre del estatus"
            required
            />
          <div class="invalid-feedback">
            El nombre es obligatorio.
          </div>
        </div>

        <!--  Botones -->
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2">
              <i class="bi bi-check-circle"></i>Guardar
            </button>
            <button (click)="Cancelar()" type="button" class="btn btn-danger">
              <i class="bi bi-x-circle"></i> Cancelar
            </button>
          </div>

        <!--  Botones anteriores

        <button (click)="guardarStatus(status)" type="button" class="btn btn-outline-success">Guardar</button>
        <span style="margin-left:1em"></span>
        <button (click)="Cancelar()" type="button" class="btn btn-outline-danger">Cancelar</button>
        -->
      </form>
    </div>
  </div>
</div>
